h1 {
  color: red;
}

/* ブレイクポイントをmax-width: 1000pxに指定してください */
@media (max-width: 1000px ) {
  /* h1のcolorをblueに指定してください */
  h1{color: blue;}
  
}

/* ブレイクポイントをmax-width: 670pxに指定してください */
@media (max-width: 670px ) {
  /* h1のcolorをgreenに指定してください */
  h1{color: green;}
  
}